@font-face {
	font-family: 'Dalek';
	src: url(../../assets/fonts/Dalek.eot) format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'Dalek';
	src: url(../../assets/fonts/Dalek.ttf) format('truetype'),
	url(../../assets/fonts/Dalek.svg) format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Dalek';
	src: url(../../assets/fonts/Dalek_1.eot) format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'Dalek';
	src: url(../../assets/fonts/Dalek_1.ttf) format('truetype'),
	url(../../assets/fonts/Dalek_1.svg) format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}