@font-face {
	font-family: 'DS_RUNEnglish-2';
	src: url(../../assets/fonts/DSRUNEnglish2.eot) format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'DS_RUNEnglish-2';
	src: url(../../assets/fonts/DSRUNEnglish2.ttf) format('truetype'),
	url(../../assets/fonts/DSRUNEnglish2.svg) format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}