@font-face {
	font-family: 'Odinson';
	src: url(../../assets/fonts/OdinsonLight.eot) format('embedded-opentype');
	font-weight: 300;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'Odinson';
	src: url(../../assets/fonts/OdinsonLight.ttf) format('truetype'),
	url(../../assets/fonts/OdinsonLight.svg) format('svg');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Odinson';
	src: url(../../assets/fonts/Odinson.eot) format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'Odinson';
	src: url(../../assets/fonts/Odinson.ttf) format('truetype'),
	url(../../assets/fonts/Odinson.svg) format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}