@font-face {
	font-family: 'Odinson Outline';
	src: url(../../assets/fonts/OdinsonOutline.eot) format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'Odinson Outline';
	src: url(../../assets/fonts/OdinsonOutline.ttf) format('truetype'),
	url(../../assets/fonts/OdinsonOutline.svg) format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}