@font-face {
	font-family: 'Second Reign PERSONAL USE ONLY';
	src: url(../../assets/fonts/SecondReignPERSONALUSEONLY-Thin.eot) format('embedded-opentype');
	font-weight: 100;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'Second Reign PERSONAL USE ONLY';
	src: url(../../assets/fonts/SecondReignPERSONALUSEONLY-Thin.ttf) format('truetype'),
	url(../../assets/fonts/SecondReignPERSONALUSEONLY-Thin.svg) format('svg');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Second Reign PERSONAL USE ONLY';
	src: url(../../assets/fonts/SecondReignPERSONALUSEONLY-Regular.eot) format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'Second Reign PERSONAL USE ONLY';
	src: url(../../assets/fonts/SecondReignPERSONALUSEONLY-Regular.ttf) format('truetype'),
	url(../../assets/fonts/SecondReignPERSONALUSEONLY-Regular.svg) format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}